.container {
  width: 200px;
  border: 1px solid #eeeeee;
  margin: 0 auto;
  padding: 16px 0 0 0;
  overflow: hidden;
}

.container ul,
li {
  width: 100%;
  padding: 0;
  margin: 0;
}
.container li {
  list-style: none;
}
.container .del span:first-child{
  text-decoration: line-through;
}

.container .item {
  clear: both;
  float: left;
  margin: 8px 16px;
}

.container .item span:first-child {
  float: left;
}
.container .item span:last-child {
  float: right;
  cursor: pointer;
}

.operator {
  margin: 16px auto 0 auto;
  width: 100%;
  float: left;
}

.operator button {
  float: right;
}
