.container {
  box-sizing: border-box;
  width: 240px;
  padding: 20px;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  margin: 20% auto;
}
div, ul, li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}